# Control Structures

## 1. Write a python program to find the first N Prime numbers.

In [1]:
x = int(input("Enter the number:" ))
n = x*x + 1
lst = []
for i in range(1,n+1):
    lst1 = [] #list for numbers having more than one factor 
    for j in range(1,i):
        if i%j==0:
            lst1.append(j)
    if len(lst1)==1: #if list is having only one factor it will print number
        lst.append(i)
for i in range(x):
    print(lst[i])

Enter the number:5
2
3
5
7
11

## Write a python code that calculates the salary of an employee. Prompt the user to enter the Basic Salary, HRA, TA, and DA. Add these components to calculate the gross minus tax as net salary.

In [2]:
basic = float(input("Enter the basic salary: "))

hra_per = float(input("Enter the hra %: "))
hra = basic * hra_per/100

ta_per = float(input("Enter the ta %: "))
ta = basic * ta_per/100

da_per = float(input("Enter the da %: "))
da = basic * da_per/100

tax_per = float(input("Enter the tax %: "))

gross = basic + hra + ta + da
net = gross - (gross * tax_per)/100

print("Basic salry is: ", basic)
print("HRA is: ", hra)
print("TA is: ", ta)
print("DA is: ", da)
print("The gross pay is: ", gross)
print("Tax as per salary: ", (gross * tax_per)/100)

print("The net pay after applying tax is: ", net)

Enter the basic salary: 20000
Enter the hra %: 25
Enter the ta %: 10
Enter the da %: 10
Enter the tax %: 20
Basic salry is:  20000.0
HRA is:  5000.0
TA is:  2000.0
DA is:  2000.0
The gross pay is:  29000.0
Tax as per salary:  5800.0
The net pay after applying tax is:  23200.0

## 3. Write a python program to search for a string in the given list.

In [3]:
l = [1, 34, 'Mphasis', 'Python', 2.99]
s = 'Mphasis'
if s in l:
    print(f'{s} is available in the list')

Mphasis is available in the list

## 4. Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

In [4]:
def upper_lower(str):
    lstu = []
    lstl = []
    for i in str:
        if i.isupper():
            lstu.append(i)
        elif i.islower():
            lstl.append(i)    
        else:
            pass
    print("The number of upper-case letters are {} and the number of lower-case letters are {}".format(len(lstu), len(lstl)))
            
s = "Hi, I am an MphasiAN"
upper_lower(s)

The number of upper-case letters are 5 and the number of lower-case letters are 10

## 5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

In [5]:
lst = []
for i in range(12, 37):
    lst.append(i)
odd = 0
even = 0
for i in range(25):
    if lst[i]%2==0:
        even = even + lst[i]
    else:
        odd = odd + lst[i]
print("The sum of odd numbers and even numbers between 12 and 37 are {} and {}".format(odd, even))

The sum of odd numbers and even numbers between 12 and 37 are 288 and 312

## 6. Write a python program to print the table of any number.

In [6]:
n = int(input("Enter the number for printing the table: "))
for i in range(1,11):
    print("{} X {} = {}".format(n, i, n*i))

Enter the number for printing the table: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

## 7. Write a python program to sum the first 10 prime numbers.

In [7]:
x = 10
n = x*x + 1
lst = []
for i in range(1,n+1):
    lst1 = [] #list for numbers having more than one factor 
    for j in range(1,i):
        if i%j==0:
            lst1.append(j)
    if len(lst1)==1: #if list is having only one factor it will print number
        lst.append(i)
    
s = 0
lst2 = []
for i in range(x):
    lst2.append(lst[i])
    
#print(lst2)
print(sum(lst2))

129

## 8. Write a python program to implement arithmetic operations using needed if statement.

In [8]:
n1 = float(input("Enter the first number: "))
o = input("Enter a operator +,-,*,/ for operation: ")
n2 = float(input("Enter the second number: "))

if o == '+':
    print(n1, "+", n2, "=", n1+n2)
elif o == '-':
    print(n1, "-", n2, "=", n1-n2)
elif o == '*':
    print(n1, "*", n2, "=", n1*n2)
elif o == '/':
    print(n1, "/", n2, "=", n1/n2)
else: 
    print("wrong input for operation")

Enter the first number: 9
Enter a operator +,-,*,/ for operation: /
Enter the second number: 2
9.0 / 2.0 = 4.5

## 9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.

In [9]:
c = float(input("Enter the temperature in Celsius: "))
f = (9/5)*c + 32
print("The temperature in Fahrenheit is:",f)

Enter the temperature in Celsius: -40
The temperature in Fahrenheit is: -40.0

## 10. Write a python program to find a maximum and minimum number in a list without using inbuilt functions.

In [10]:
lst = [3, 20, 98, 34, 1, 25]
maxi = lst[0]
for i in lst:
    if i>maxi:
        maxi = i
    
mini = lst[0]
for j in lst:
    if j<mini:
        mini = j
print(lst)
print("maximum number is:", maxi)
print("minimum number is:", mini)

[3, 20, 98, 34, 1, 25]
maximum number is: 98
minimum number is: 1

## 11. Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per hour, 60 seconds in a minute.

In [11]:
print("1 minute = 60 seconds")
print("1 hour = 60 minutes")
print("1 day = 24 hour")
print("1 month = 30 days")
s = 30*24*60*60
print("Number of seconds in a 30 day month is:",s)

1 minute = 60 seconds
1 hour = 60 minutes
1 day = 24 hour
1 month = 30 days
Number of seconds in a 30 day month is: 2592000

## 12. Write a program in python to print out the number of seconds in a year.

In [12]:
print("1 minute = 60 seconds")
print("1 hour = 60 minutes")
print("1 day = 24 hour")
print("1 year = 365 days")
s = 365*24*60*60
print("Number of seconds in a year is:",s)

1 minute = 60 seconds
1 hour = 60 minutes
1 day = 24 hour
1 year = 365 days
Number of seconds in a year is: 31536000

## 13. A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to travel from London to Glasgow which is 414 miles away?

In [13]:
print("Speed of the train is 150 mph")
print("The distance from London to Glasgow is 414 miles")
t = 414/150
print("The time taken by the train will be", t, "hours")

Speed of the train is 150 mph
The distance from London to Glasgow is 414 miles
The time taken by the train will be 2.76 hours

## 14. Write a python program that defines a variable called days_in_each_school_year and assign 192 to the variable. The program should then print out the total hours that you spend in school in school from year 7 to year 11, if each day you spend 6 hours in school days_each_school_year = 192

In [14]:
days_in_each_school_year = 192
hr = days_in_each_school_year * 6
print("Hours spent every year will be",hr, "hours")
print("Hours spent from year 7 to 11 will be",4 * hr, "hours")

Hours spent every year will be 1152 hours
Hours spent from year 7 to 11 will be 4608 hours

## 15. If the age of the Ram, Sam and Khan are input through the keyboard, write a python program to determine the eldest and youngest of the three.

In [15]:
r = int(input("Enter the age of Ram: "))
s = int(input("Enter the age of Sam: "))
k = int(input("Enter the age of Khan: "))

if r>s and r>k:
    print("Ram is eldest")
elif s>k:
    print("Sam is eldest")
else:
    print("Khan is eldest")
    
if r<s and r<k:
    print("Ram is youngest")
elif s<k:
    print("Sam is youngest")
else:
    print("Khan is youngest")

Enter the age of Ram: 55
Enter the age of Sam: 45
Enter the age of Khan: 99
Khan is eldest
Sam is youngest

## 16. Write a python program to rotate a list by right n times with and without slicing technique.

In [16]:
def with_slice(n):
#with slicing
    lst1 = lst
    for i in range(n):
        lst1 = lst1[::-1][:1] + lst1[:-1]
    print("with slicing:", lst1)

def without_slice(n):
#without slicing
    if n>5:
        n = n%5
    lst2 = []
    for i in range(len(lst)-n,len(lst)):
        lst2.append(lst[i])
    for i in range(len(lst)-n):
        lst2.append(lst[i])
    print("without slicing:", lst2)
    
lst = [1, 2, 3, 4, 5]    
n = int(input("Enter the number of times to rotate: "))
with_slice(n)
without_slice(n)

Enter the number of times to rotate: 6
with slicing: [5, 1, 2, 3, 4]
without slicing: [5, 1, 2, 3, 4]

# 17. Python Program to print the patterns given below:
i)   
1   
1 1  
1 2 1   
1 3 3 1   
1 4 6 4 1   
1 5 10 10 5 1   
1 6 15 20 15 6 1

In [17]:
def fact(num):
    if num == 1 or num == 0:
        return 1
    else:
        return (num * fact(num-1))
    
def nCr(n,r):
    x = fact(n)/(fact(n-r) * fact(r))
    return int(x)
    
term = 7
for i in range(7):
    for j in range(i+1):
        print(nCr(i,j), end=" ")
    print()

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

# 17. Python Program to print the patterns given below:
ii)     
a   
a a   
a a a   
a a a a   
a a a a a

In [18]:
for i in range(5):
    for j in range(i+1):
        print("a", end = " ")
    print()

a
a a
a a a
a a a a
a a a a a

# 17. Python Program to print the patterns given below:
iii)    
-------a    
------a a  
-----a a a   
----a a a a   
---a a a a a   
--a a a a a a     
-a a a a a a a

In [19]:
for i in range(7):
    print(" "*(7-i), end =" ")
    for j in range(i+1):
        print("a", end = " ")
    print()

        a
       a a
      a a a
     a a a a
    a a a a a
   a a a a a a
  a a a a a a a

# 17. Python Program to print the patterns given below:
iv)   
P   
Py   
Pyt   
Pyth   
Pytho   
Python

In [20]:
for i in range(6):
    print("Python"[:i+1])

P
Py
Pyt
Pyth
Pytho
Python