# 1.  Manipulate using a list.
i)      To add new elements to the end of the list   
ii)     To reverse elements in the list   
iii)    To display the same list of elements multiple times   
iv)     To concatenate two list     
v)      To sort the elements in the list in ascending order

In [1]:
lst = [1, 4.0, 90.5, 'python', '55']
print(lst)

[1, 4.0, 90.5, 'python', '55']

In [2]:
#To add new elements to the end of the list
lst.append("mphasis")
print(lst)

#to add element using extend
lst.extend([3,9,178])
print(lst)

#add element in list using index at specified index
lst.insert(3, 'jupiter')
print(lst)

[1, 4.0, 90.5, 'python', '55', 'mphasis']
[1, 4.0, 90.5, 'python', '55', 'mphasis', 3, 9, 178]
[1, 4.0, 90.5, 'jupiter', 'python', '55', 'mphasis', 3, 9, 178]

In [3]:
#To reverse elements in the list
lst.reverse()
print(lst)

[178, 9, 3, 'mphasis', '55', 'python', 'jupiter', 90.5, 4.0, 1]

In [4]:
#To display the same list of elements multiple times
x = [5, 9, 10]
print(x*3)

[5, 9, 10, 5, 9, 10, 5, 9, 10]

In [5]:
#To concatenate two list
print(lst)
print(x)
print(lst+x)

[178, 9, 3, 'mphasis', '55', 'python', 'jupiter', 90.5, 4.0, 1]
[5, 9, 10]
[178, 9, 3, 'mphasis', '55', 'python', 'jupiter', 90.5, 4.0, 1, 5, 9, 10]

In [6]:
#To sort the elements in the list in ascending order
lst2 = [5,56,2]
print('Before sorting: ', lst2)
lst2.sort()
print('After sorting: ', lst2)

Before sorting:  [5, 56, 2]
After sorting:  [2, 5, 56]

# 2.  Write a python program to do in the tuples.
i)    Manipulate using tuples     
ii)   To add new elements to the end of the tuples    
iii)  To reverse elements in the tuple    
iv)   To display the elements of the same tuple multiple times    
v)    To concatenate two tuples     
vi)   To sort the element in the tuple in ascending order

In [7]:
#Manipulate using tuples
t = (106, 20, 91, 54)
print(t)

(106, 20, 91, 54)

In [8]:
#To add new elements to the end of the tuples
#by concatenating
t = t + (17,)
print(t)

(106, 20, 91, 54, 17)

In [9]:
#To reverse elements in the tuple
t = t[::-1]
print('Reversed tuple', t)

Reversed tuple (17, 54, 91, 20, 106)

In [10]:
#To display the elements of the same tuple multiple times
tup = (4, 81)
print(tup*3)

(4, 81, 4, 81, 4, 81)

In [11]:
#To concatenate two tuples
print(tup + t)

(4, 81, 17, 54, 91, 20, 106)

In [13]:
#To sort the element in the tuple in ascending order
print(sorted(t))
print(t)

[17, 20, 54, 91, 106]
(17, 54, 91, 20, 106)

# 3. Write a python program to implement the following using list
i)    Create a list with integers(minimum 10 numbers)    
ii)   How to display the last number in the list    
iii)  Command for displaying values from list [0:4]    
iv)   Command for displaying values from list [2:]    
v)    Command for displaying values from list [:6]

In [14]:
#Create a list with integers(minimum 10 numbers)
lst = [4, 3, 6, 9, 33, 67, 90, 32, 25, 56]
print(lst)

[4, 3, 6, 9, 33, 67, 90, 32, 25, 56]

In [15]:
#How to display the last number in the list
lst[-1]

56

In [16]:
#Command for displaying values from list [0:4]
lst[0:4]

[4, 3, 6, 9]

In [17]:
#Command for displaying values from list [2:]
lst[2:]

[6, 9, 33, 67, 90, 32, 25, 56]

In [18]:
#Command for displaying values from list [:6]
lst[:6]

[4, 3, 6, 9, 33, 67]

# 4. Write a Python program: tuple1 = (10,50,20,40,30)
i)    To display the elements 10 and 50 from tuple1   
ii)   To display the length of tuple1      
iii)  To find the minimum element from tuple1     
iv)   To add all elements in the tuple1     
v)    To display the same tuple1 multiple times

In [11]:
#Write a Python program: tuple1 = (10,50,20,40,30)
tuple1 = (10, 50, 20, 40, 30)
tuple1

(10, 50, 20, 40, 30)

In [13]:
#To display the elements 10 and 50 from tuple1
print(tuple1[0:2])
#print(tuple1[1])

(10, 50)
50

In [23]:
#To display the length of tuple1
len(tuple1)

5

In [24]:
#To find the minimum element from tuple1
min(tuple1)

10

In [25]:
#To add all elements in the tuple1
sum = 0
for i in tuple1:
    sum = sum + i
print(sum)

150

In [26]:
#To display the same tuple1 multiple times
print(tuple1*6)

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. Write a Python program:
i)    To calculate the length of string    
ii)   To reverse words in a string    
iii)  To display the same string multiple times     
iv)   To concatenate two strings     
v)    Str1="South India", using string slicing to display "India"

In [27]:
#To calculate the length of string
s = "Hello World"
len(s)

11

In [28]:
#To reverse words in a string
s[::-1]

'dlroW olleH'

In [29]:
#To display the same string multiple times
s*5

'Hello WorldHello WorldHello WorldHello WorldHello World'

In [30]:
#To concatenate two strings
s2 = "I am a coder"
s + s2

'Hello WorldI am a coder'

In [31]:
#Str1="South India", using string slicing to display "India"
Str1="South India"
Str1[6:]

'India'

# 6. Perform the following:
i)    Creating the Dictionary     
ii)   Accessing values amd keys in the Dictionary    
iii)  Updating the dictionary using the function    
iv)   Clear and delete the dictionary values

In [50]:
#Creating the Dictionary
d = {1:'Comp', 4:'Pen', 3:'Phone', 2:'Copy'}
print(d)

{1: 'Comp', 4: 'Pen', 3: 'Phone', 2: 'Copy'}

In [51]:
#Accessing values amd keys in the Dictionary
print(d[1])
print(d[4])

k = d.keys()
print(k)
v = d.values()
print(v)

Comp
Pen
dict_keys([1, 4, 3, 2])
dict_values(['Comp', 'Pen', 'Phone', 'Copy'])

In [52]:
#Updating the dictionary using the function
d[2] = 'Copies'
print(d)

#taking new dictionary
d2 = {3:'Telephone', 5:'Keyboard'}
d.update(d2)
print("new dictionary", d)

{1: 'Comp', 4: 'Pen', 3: 'Phone', 2: 'Copies'}
new dictionary {1: 'Comp', 4: 'Pen', 3: 'Telephone', 2: 'Copies', 5: 'Keyboard'}

In [53]:
#Clear and delete the dictionary values
del d[1]
print("after removing 1st one: ", d)
d.clear()
print("dictionary delted using clear function")

after removing 1st one:  {4: 'Pen', 3: 'Telephone', 2: 'Copies', 5: 'Keyboard'}
dictionary delted using clear function

# 7. Python program to insert a number to any position in a list

In [55]:
lst = [3, 14, 6, 16, 5]
lst.insert(2, "Laptop")
print(lst)

[3, 14, 'Laptop', 6, 16, 5]

# 8. Python program to delete an element from a list by index

In [56]:
lst = [3, 14, 'Laptop', 6, 16, 5]
lst.pop(2)
print(lst)

[3, 14, 6, 16, 5]

# 9. Write a program to display number from 1 to 100

In [58]:
for i in range(1,101):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

# 10. Write a python program to find the sum of all items in a tuple

In [59]:
t = (3, 14, 6, 16, 5)
s = 0
for i in tuple1:
    s = s + i
print("sum of all items in the tuple ", t, ' is ', s)

sum of all items in the tuple  (3, 14, 6, 16, 5)  is  150

# 11. Create a dictionary containing three lambda functions square, cube and square root.
i)     E.g. dict = {'Square':function for squaring, 'Cube':function for cube, 'Squareroot':function for square root}    
ii)    Pass the values (input from the user) to the functions in the dictionary respectively.    
iii)   Then add the outputs of each function and print it.

In [5]:
n = float(input("Enter the number: "))
d = {'Square':(lambda x:x**2)(n), 'Cube':(lambda x:x**3)(n), 'Squareroot':(lambda x:x**0.5)(n)}
print("Square of the number is:", d['Square'])
print("Cube of the number is:", d['Cube'])
print("Squareroot of the number is:", d['Squareroot'])
print('Sum of all is:', d['Square'] + d['Cube'] + d['Squareroot'])

Enter the number4.0
Square of the number is: 16.0
Cube of the number is: 64.0
Squareroot of the number is: 2.0
Sum of all is: 82.0

# 12. A list of words is given. Find the words from the list that have their second character in uppercase. 
## ls=['hello','Dear','hOw','ARe','You']

In [7]:
lst=['hello','Dear','hOw','ARe','You']
for i in lst:
    if i[1].isupper():
        print(i)

hOw
ARe

# 13. A dictionary of names and their weights on earth is given.    Find how much they will weigh on the moon. 
## (Use map and lamda functions) Formula : wMoon = (wEarth * GMoon)/GEarth
i)    #Weight of people in kg     
      ----> WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}     
ii)   #Gravitational force on the Moon: 1.622 m/s2    
      ----> GMoon = 1.622    
iii)  #Gravitational force on the Earth: 9.81 m/s2    
      ----> GEarth = 9.81

In [51]:
d = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81


names = map(lambda x:x,d.keys())
print('names of people:',list(names))


weights = map(lambda x:round(x*GMoon/GEarth,2) ,d.values())
print("their weight on moon:", list(weights))

names of people: ['John', 'Shelly', 'Marry']
their weight on moon: [7.44, 10.75, 5.79]