# Database Programming with MySQL

In [1]:
#check if python installed in cmd
import mysql.connector
#now, we will establish a connection between python and mysql
conn = mysql.connector.connect(host='localhost', user='root', password='Kaushal@1234')

#check if connection is established
print(conn)
if conn.is_connected():
    print("connection established")

<mysql.connector.connection.MySQLConnection object at 0x000002032060D450>
connection established

In [2]:
#defining cursor
cur = conn.cursor()

## 1. Implement Inventory Management in Python with MySQL
a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.    
b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory.   
c) Note: Apply your thoughts to demonstrate the DB Operation in Python

In [5]:
#Creating the database Inventory
db0 = "create database Inventory"
cur.execute(db0)

In [ ]:
#using the database Inventory
db1 = "use Inventory"
cur.execute(db1)

In [41]:
#Creating the Purchases Table
Purch_table = "create table Purchases (PurchaseID int primary key, Description varchar(50), Price int, InventoryID int, SalesID int)"
cur.execute(Purch_table)

In [42]:
#Creating the Sales Table
Sale_table = "create table Sales (SalesID int primary key, Quantity int, Price int)"
cur.execute(Sale_table)

In [43]:
#Creating the Inventory Table
Inven_table = "create table Inventory (InventoryID int primary key, City varchar(20), Country varchar(20), No_of_staff int)"
cur.execute(Inven_table)

## 2. Customer Order Processing
### Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.
1) Design a MySQL database schema for the order processing system, including tables for customers, products and orders.   
2) Write a Python program that connects to the database and allows customers to place new orders.   
3) Implement a feature that calculates the total cost of an order and updates product quantities in the database.   
4) How  would you handle cases where a product is no longer available when a customer places an order?   
5) Develop a function to generate order reports for the company's finance department.

In [48]:
#check if python installed in cmd
import mysql.connector
#now, we will establish a connection between python and mysql
conn = mysql.connector.connect(host='localhost', user='root', password='Kaushal@1234')

#check if connection is established
print(conn)
if conn.is_connected():
    print("connection established")

<mysql.connector.connection.MySQLConnection object at 0x00000203207AD650>
connection established

In [ ]:
#defining cursor
cur = conn.cursor()

In [80]:
#Create the database e_company_db
dbe0 = "create database e_company_db"
cur.execute(dbe0)

In [5]:
#Use the database e_company_db
dbe1 = "use e_company_db"
cur.execute(dbe1)

In [16]:
#Creating the Customers Table
Cust_table = "create table Customers (CustomerID int primary key, Cust_Name varchar(20), Location varchar(20))"
cur.execute(Cust_table)

In [17]:
#inserting rows into customers table
insert_cust = "insert into Customers(CustomerID, Cust_Name, Location) values (%s, %s, %s)"
cust_val = [(100, 'John', 'Delhi'),
            (101, 'Ram', 'Chennai'),
            (102, 'Krishna', 'Pune'),
            (103, 'Shreya', 'Noida')
           ]

cur.executemany(insert_cust, cust_val)
conn.commit()

In [12]:
#Creating the Products Table
Prod_table = "create table Products (ProductID int primary key, Prod_Name varchar(50), Price int, Product_Quantity int)"
cur.execute(Prod_table)

In [20]:
#inserting rows into Products table
insert_prod = "insert into Products(ProductID, Prod_Name, Price, Product_Quantity) values (%s, %s, %s, %s)"
prod_val = [(10, 'Product10', 1500, 10),
            (11, 'Product11', 2500, 15),
            (12, 'Product12', 2000, 5),
            (13, 'Product13', 3000, 0)
           ]

cur.executemany(insert_prod, prod_val)
conn.commit()

In [8]:
#for deleting table if exists
#d = "drop table Orders"
#cur.execute(d)

In [12]:
#Creating the Orders Table
Ord_table = "create table Orders (CustomerID int, ProductID int, OrderPrice int, QuantityOrder int)"
cur.execute(Ord_table)

In [13]:
#we will take a user defined function to enter a customer to customer's portal and place the order
#and also we will update the products table and orders table
def Cust_portal():
    c_id = int(input("Enter you customer id: "))
    prdcts = ['Product10', 'Product11', 'Product12', 'Product13']
    print(prdcts)
    
    p_id = int(input("Enter the last two digits from the name of the products to place the order: "))
    lst_p_id = []
    lst_p_id.append(p_id)
    Qty_ord = int(input("Enter the quantity of order you want to buy: "))
    
    pric = "select Price from Products where ProductID = %s"
    cur.execute(pric, lst_p_id)
    #cursor will take only one row using fetchone
    r = cur.fetchone()[0]
    print("price for the product", p_id, "is:", r)
    
    ord_price = r * Qty_ord
    print("Total cost for the order will be:", ord_price)
    
    
    try:
        lst1 = []
        lst1.append(p_id)
        x1 = "select Product_Quantity from Products where ProductID = %s"
        cur.execute(x1, lst1)
        r = cur.fetchone()[0]
        
        if r>0:
            #insert the rows in table: orders
            insert_ord = "insert into Orders (CustomerID, ProductID, OrderPrice, QuantityOrder) values (%s,%s,%s,%s)"
            ord_val = (c_id, p_id, ord_price, Qty_ord)
            cur.execute(insert_ord, ord_val)
            conn.commit()
            #print("1 row inserted in orders table")
    
            #updating products  table after palcing orders
            lst_p_Qty = []
            #Qty_ord is the quantity of product that purchased
            lst_p_Qty.append(Qty_ord)
            #p_id is the product id
            lst_p_Qty.append(p_id)
            # list will take both above the values and will be used below by calling them in cur.execute

            upd = "update Products set Product_Quantity = (Product_Quantity - %s) where ProductID = %s"
            cur.execute(upd, lst_p_Qty)
            conn.commit()
            #Now, the Products table has also been updated
        else:
            raise Exception("As the Quantity of Specific product is zero(0). So, order can't be placed")
    except Exception as e:
        print(e)
    except:
        print("Check for errors")

In [14]:
# to invoke the function
Cust_portal()

Enter you customer id: 100
['Product10', 'Product11', 'Product12', 'Product13']
Enter the last two digits from the name of the products to place the order: 10
Enter the quantity of order you want to buy: 2
price for the product 10 is: 1500
Total cost for the order will be: 3000

In [15]:
# Develop a function to generate order reports
orders_table = "select * from Orders"
cur.execute(orders_table)
#below code will accept all rows
r = cur.fetchall()
print("(CustomerID, ProductID, OrderPrice, QuantityOrder)")
for x in r:
    print(x)

(CustomerID, ProductID, OrderPrice, QuantityOrder)
(100, 10, 3000, 2)

## 3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.
### Instructions:
1) Assume that you have a MySQL database server running with the following details:     
i) Host:localhost     
ii) Port: 3306   
iii) Username: your_username   
iv) Password: your_password   
v) Database Name : your database   
vi) Table Name: your table   
vii) The table has the following columns: id(int), name(varchar), quantity(int).   

2) Your Python program should:    
i) Connect to the MySQL database.     
ii) Retrieve all records from the your_table table.   
iii) Calculate the total quantity of all records retrieved.   
iv) Update the quantity column of each record by doubling its value.   
v) Commit the changes to the database.   
vi) Close the database connection.   

3) Handle any potential errors that may occur during the databse connection and data manipulation, such as connectionn failures or SQL errors.   
4) Provide comments in your code to explain each step.

In [47]:
try:
    #check if python installed in cmd
    import mysql.connector
    #now, we will establish a connection between python and mysql 
    conn = mysql.connector.connect(host='localhost', user='root', password='Kaushal@1234')

    #check if connection is established
    print(conn)
    if conn.is_connected():
        print("connection established")
except:
    print("check for errors")

<mysql.connector.connection.MySQLConnection object at 0x00000203234245D0>
connection established

In [18]:
#defining cursor
cur = conn.cursor()

In [20]:
#create the database your_db
dby = "create database your_db"
cur.execute(dby)

In [21]:
#using the database your_db
dby0 = "use your_db"
cur.execute(dby0)

In [22]:
#create the table Products
cust = "create table Products (id int, name varchar(20), quantity int)"
cur.execute(cust)

In [23]:
#inserting values to table products
insert_prod = "insert into Products(id, name, Quantity) values (%s, %s, %s)"
prod_val = [(1, 'Product1', 15),
            (2, 'Product2', 25),
            (3, 'Product3', 20),
            (4, 'Product4', 30)
           ]

cur.executemany(insert_prod, prod_val)
conn.commit()

In [28]:
#Retrieve all records from the Products table
ret = "select * from Products"
cur.execute(ret)
r = cur.fetchall()
for i in r:
    print(i)
    
#Calculate the total quantity of all records retrieved.
print("Number of records:", len(r))

(1, 'Product1', 15)
(2, 'Product2', 25)
(3, 'Product3', 20)
(4, 'Product4', 30)
Number of records: 4

In [29]:
#Update the quantity column of each record by doubling its value.
upd = "update Products set Quantity = 2 * Quantity"
cur.execute(upd)

In [30]:
#We can see the values of quantity has been doubled 
ret = "select * from Products"
cur.execute(ret)
r = cur.fetchall()
for i in r:
    print(i)

(1, 'Product1', 30)
(2, 'Product2', 50)
(3, 'Product3', 40)
(4, 'Product4', 60)

In [32]:
#Commit the changes to the database.
conn.commit()

In [33]:
#Close the database connection.
conn.close()

## 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.
1) Design the database schema for the employee management system.   
2) Write Python code to connect to the database and retrieve a list of employees in a specific department.   
3) Implement a feature to update an employee's salary.

In [19]:
#check if python installed in cmd
import mysql.connector
#now, we will establish a connection between python and mysql
conn = mysql.connector.connect(host='localhost', user='root', password='Kaushal@1234')

#check if connection is established
print(conn)
if conn.is_connected():
    print("connection established")

<mysql.connector.connection.MySQLConnection object at 0x0000027DBD413510>
connection established

In [20]:
#defining cursor
cur = conn.cursor()

In [21]:
#using the database company_db
db_c = "use company_db"
cur.execute(db_c)

In [22]:
dep = 50
lst = []
lst.append(dep)

emp_dep = "select EMPLOYEE_ID from employees where DEPARTMENT_ID = %s"
cur.execute(emp_dep,lst)
r = cur.fetchall()
print("Employees_ID for specific Department_ID = 50")
for i in r:
    print(i[0])

Employees_ID for specific Department_ID = 50
107
108
109
110